@model ExchangeCurrency.Api.Models.Request.ExchangeCurrencyRequest;

@{
    ViewData["Title"] = "Home Page";
}
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Exchange Currency</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#parametrizar">Parametrizar Taxas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#converter">Converter Moedas</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Bem-Vindo ao Conversor de Moedas Itaú</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Sistema de conversão de moedas do Itaú, um sistema cambial que já calcula as taxas de acordo com o seu perfil.</p>
                    <a class="btn btn-primary btn-xl" href="#converter">Converter Moedas</a>
                </div>
            </div>
        </div>
    </header>

    <!--Parametrizar taxas de conversão-->>
    <section class="page-section bg-primary" id="parametrizar">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Parametrizar Taxas</h2>
                    <hr class="divider divider-light" />
                    <a class="btn btn-light btn-xl" asp-action="Index" asp-controller="TaxPerProfile"> Iniciar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Converter -->
    <section class="page-section" id="converter">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Converter Moeda</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Compre suas moedas no sistema cambial Feito pra Você.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="btc-calc-form row" asp-action="Index" asp-controller="ConvertCurrency" method="post" target="_self">
                        <div class=form-gorup>
                            <div asp-validation-summary="ModelOnly">
                                class="text-danger">
                            </div>
                            <div class="form-floating mb-3" placeholder="Quantidade" data-sb-validations="required">
                                <div class="form-gorup">
                                    <label asp-for="Amount">Quantidade</label>
                                    <input asp-for="Amount" class="form-control" />
                                </div>
                            </div>

                            <div class="form-floating mb-3" placeholder="Moeda Origem" data-sb-validations="required">
                                <div class="form-group">
                                    <label asp-for="FromCurrency">Moeda Origem</label>
                                    <select asp-for="FromCurrency" class="form-control select2-hidden-accessible" data-select2-id="select2-data-moeda_origem" tabindex="-1" aria-hidden="true"><option value="BRL">Brasil, Real	(BRL)</option></select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" data-select2-id="select2-data-1-nhy6" style="width: 326px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-moeda_origem-container"><span class="select2-selection__rendered" id="select2-moeda_origem-container" role="textbox" aria-readonly="true"></span> </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-floating mb-3" placeholder="Moeda Destino" data-sb-validations="required">
                                <div class="form-group">
                                    <label asp-for="ToCurrency">Moeda Destino</label>
                                    <select asp-for="ToCurrency" class="form-control select2-hidden-accessible" data-select2-id="select2-data-moeda_destino" tabindex="-1" aria-hidden="true"><option value="BTC">Bitcoin 	(BTC)	</option><option value="AFA">Afeganistao, Afegano 	(AFA)	</option><option value="AFN">Afeganistão, Afegâni 	(AFN)	</option><option value="ZAR">Africa Do Sul, Rand 	(ZAR)	</option><option value="ALL">Albania, Lek 	(ALL)	</option><option value="EUR">Alemanha, Euro 	(EUR)	</option><option value="ADP">Andorra, Peseta 	(ADP)	</option><option value="AON">Angola, Novo Cuanza 	(AON)	</option><option value="AOA">Angola, Kwanza 	(AOA)	</option>\x<option value="XCD">Anguilla, Dolar 	(XCD)	</option><option value="XCD">Antigua E Barbuda, Dolar 	(XCD)	</option><option value="ANG">Antilhas Holandesas, Florim 	(ANG)	</option><option value="SAR">Arabia Saudita, Rial 	(SAR)	</option><option value="DZD">Argelia, Dinar Argelino 	(DZD)	</option><option value="ARS">Argentina, Peso 	(ARS)	</option><option value="AMD">Armenia, Dram 	(AMD)	</option><option value="AWG">Aruba, Florim 	(AWG)	</option><option value="AUD">Australia, Dolar 	(AUD)	</option><option value="EUR">Austria, Euro 	(EUR)	</option><option value="AZM">Azerbaijao, Manat 	(AZM)	</option><option value="AZN">Azerbaijão, Manat Azeri 	(AZN)	</option><option value="BSD">Bahamas, Dolar 	(BSD)	</option><option value="BHD">Bahrein, Dinar 	(BHD)	</option><option value="BDT">Bangladesh, Taca 	(BDT)	</option><option value="BBD">Barbados, Dolar 	(BBD)	</option><option value="BYB">Belarus, Rublo 	(BYB)	</option><option value="EUR">Belgica, Euro 	(EUR)	</option><option value="BZD">Belize, Dolar 	(BZD)	</option><option value="BMD">Bermudas, Dolar 	(BMD)	</option><option value="BYR">Bielorrússia, Rublo 	(BYR)	</option><option value="BOB">Bolivia, Boliviano 	(BOB)	</option><option value="BAM">Bosnia-herzegovina, Marco 	(BAM)	</option><option value="BWP">Botsuana, Pula 	(BWP)	</option><option value="BRL">Brasil, Real	(BRL)	</option><option value="BND">Brunei, Dolar 	(BND)	</option><option value="BGN">Bulgaria, Lev 	(BGN)	</option><option value="BIF">Burundi, Franco 	(BIF)	</option><option value="BTN">Butao, Ngultrum 	(BTN)	</option><option value="CVE">Cabo Verde, Escudo 	(CVE)	</option><option value="XAF">Camaroes, Franco 	(XAF)	</option><option value="KHR">Camboja, Riel 	(KHR)	</option><option value="CAD">Canada, Dolar 	(CAD)	</option><option value="QAR">Catar, Rial 	(QAR)	</option><option value="KYD">Cayman, Ilhas, Dolar 	(KYD)	</option><option value="KZT">Cazaquistao, Tenge 	(KZT)	</option><option value="XAF">Chade, Franco 	(XAF)	</option><option value="CLP">Chile, Peso 	(CLP)	</option><option value="CLF">Chile, Unidade de Conta Chileno 	(CLF)	</option><option value="CNY">China, Iuan Renmimbi 	(CNY)	</option><option value="CYP">Chipre, Libra 	(CYP)	</option><option value="SGD">Cingapura, Dolar 	(SGD)	</option><option value="COP">Colombia, Peso 	(COP)	</option><option value="KMF">Comores, Ilhas, Franco 	(KMF)	</option><option value="EUR">Comunidade Europeia, Euro 	(EUR)	</option><option value="KPW">Coreia Do Norte, Won 	(KPW)	</option><option value="KRW">Coreia Do Sul, Won 	(KRW)	</option><option value="BUA">Costa Do Marfim, Bua 	(BUA)	</option><option value="CRC">Costa Rica, Colon 	(CRC)	</option><option value="KWD">Coveite, Dinar/kwait 	(KWD)	</option><option value="HRK">Croacia, Kuna 	(HRK)	</option><option value="CUP">Cuba, Peso 	(CUP)	</option><option value="CUC">Cuba, Cuban Convertible Peso 	(CUC)	</option><option value="DKK">Dinamarca, Coroa 	(DKK)	</option><option value="DJF">Djibuti, Franco 	(DJF)	</option><option value="XCD">Dominica, Dolar 	(XCD)	</option><option value="EGP">Egito, Libra 	(EGP)	</option><option value="SVC">El Salvador, Colon 	(SVC)	</option><option value="AED">Emirados Arabes Unidos, Dirham 	(AED)	</option><option value="ECS">Equador, Sucre 	(ECS)	</option><option value="ERN">Eritreia, Nakfa 	(ERN)	</option><option value="SKK">Eslovaquia, Coroa 	(SKK)	</option><option value="SIT">Eslovenia, Tolar 	(SIT)	</option><option value="EUR">Espanha, Euro 	(EUR)	</option><option value="USD">Estados Unidos, Dolar 	(USD)	</option><option value="EEK">Estonia, Coroa 	(EEK)	</option><option value="ETB">Etiopia, Birr 	(ETB)	</option><option value="EUR">Euro, Euro 	(EUR)	</option><option value="FKP">Falkland, Libra 	(FKP)	</option><option value="FJD">Fiji, Dolar 	(FJD)	</option><option value="PHP">Filipinas, Peso 	(PHP)	</option><option value="EUR">Finlandia, Euro 	(EUR)	</option><option value="EUR">Franca, Euro 	(EUR)	</option><option value="XDR">Fundo Monetário Internacional, Direitos Especiais de Saque 	(XDR)	</option><option value="XAF">Gabao, Franco 	(XAF)	</option><option value="GMD">Gambia, Dalasi 	(GMD)	</option><option value="GHC">Gana, Cedi 	(GHC)	</option><option value="GHS">Gana, Cedi 	(GHS)	</option><option value="GEL">Georgia, Lari 	(GEL)	</option><option value="GIP">Gibraltar, Libra 	(GIP)	</option><option value="XCD">Granada, Dolar 	(XCD)	</option><option value="EUR">Grecia, Euro 	(EUR)	</option><option value="DKK">Groelandia, Coroa 	(DKK)	</option><option value="EUR">Guadalupe, Euro 	(EUR)	</option><option value="USD">Guam, Dolar 	(USD)	</option><option value="GTQ">Guatemala, Quetzal 	(GTQ)	</option><option value="GGP">Guernsey, Libra 	(GGP)	</option><option value="GYD">Guiana, Dolar 	(GYD)	</option><option value="EUR">Guiana Francesa, Euro 	(EUR)	</option><option value="GNF">Guine, Franco 	(GNF)	</option><option value="XAF">Guine Equatorial, Franco 	(XAF)	</option><option value="GWP">Guine-bissau, Peso 	(GWP)	</option><option value="HTG">Haiti, Gourde 	(HTG)	</option><option value="HNL">Honduras, Lempira 	(HNL)	</option><option value="HKD">Hong Kong, Dolar 	(HKD)	</option><option value="HUF">Hungria, Forint 	(HUF)	</option><option value="YER">Iemen, Rial 	(YER)	</option><option value="GBP">Ilha De Man, Libra 	(GBP)	</option><option value="AUD">Ilha Natal, Dolar 	(AUD)	</option><option value="AUD">Ilha Norkfolk, Dolas 	(AUD)	</option><option value="BHD">Ilhas Bahrein, Dinar 	(BHD)	</option><option value="KYD">Ilhas Cayman, Dolar 	(KYD)	</option><option value="KMF">Ilhas Comores, Franco 	(KMF)	</option><option value="NZD">Ilhas Cook, Dolar 	(NZD)	</option><option value="GBP">Ilhas Do Canal, Libra 	(GBP)	</option><option value="FKP">Ilhas Malvinas, Libra 	(FKP)	</option><option value="USD">Ilhas Marianas, Dolar 	(USD)	</option><option value="USD">Ilhas Marshall, Dolar 	(USD)	</option><option value="SBD">Ilhas Salomao, Dolar 	(SBD)	</option><option value="INR">India, Rupia 	(INR)	</option><option value="IDR">Indonesia, Rupia 	(IDR)	</option><option value="IRR">Ira, Rial 	(IRR)	</option><option value="IQD">Iraque, Dinar 	(IQD)	</option><option value="EUR">Irlanda, Euro 	(EUR)	</option><option value="ISK">Islandia, Coroa 	(ISK)	</option><option value="ILS">Israel, Shekel 	(ILS)	</option><option value="EUR">Italia, Euro 	(EUR)	</option><option value="YUM">Iugoslavia, Novo Dinar 	(YUM)	</option><option value="JMD">Jamaica, Dolar 	(JMD)	</option><option value="JPY">Japao, Iene 	(JPY)	</option><option value="JEP">Jersey, Libra 	(JEP)	</option><option value="JOD">Jordania, Dinar 	(JOD)	</option><option value="AUD">Kiribati, Dolar 	(AUD)	</option><option value="KWD">Kuait, Dolar 	(KWD)	</option><option value="LAK">Laos, Quipe 	(LAK)	</option><option value="LSL">Lesoto, Loti 	(LSL)	</option><option value="LVL">Letonia, Lat 	(LVL)	</option><option value="LBP">Libano, Libra 	(LBP)	</option><option value="LRD">Liberia, Dolar 	(LRD)	</option><option value="LYD">Libia, Dinar 	(LYD)	</option><option value="CHF">Liechtenstein, Franco 	(CHF)	</option><option value="LTL">Lituania, Lita 	(LTL)	</option><option value="EUR">Luxemburgo, Euro 	(EUR)	</option><option value="MOP">Macau, Pataca 	(MOP)	</option><option value="MKD">Macedonia, Dinar 	(MKD)	</option><option value="MGF">Madagascar, Fr.malgaxe 	(MGF)	</option><option value="MGA">Madagáscar, Ariari 	(MGA)	</option><option value="MYR">Malasia, Ringgit 	(MYR)	</option><option value="MWK">Malaui, Kwacha 	(MWK)	</option><option value="MVR">Maldivas, Rufia 	(MVR)	</option><option value="MTL">Malta, Lira 	(MTL)	</option><option value="IMP">Manx, Libra 	(IMP)	</option><option value="MAD">Marrocos, Dirham 	(MAD)	</option><option value="EUR">Martinica, Euro 	(EUR)	</option><option value="MUR">Mauricio, Rupia 	(MUR)	</option><option value="MRO">Mauritânia, Uguia 	(MRO)	</option><option value="EUR">Mayotte, Euro 	(EUR)	</option><option value="MXN">Mexico, Peso 	(MXN)	</option><option value="USD">Micronesia, Dolar 	(USD)	</option><option value="MZM">Mocambique, Metical 	(MZM)	</option><option value="MZN">Moçambique, Metical 	(MZN)	</option><option value="MDL">Moldova, Leu 	(MDL)	</option><option value="EUR">Monaco, Euro 	(EUR)	</option><option value="MNT">Mongolia, Tugrik 	(MNT)	</option><option value="EUR">Montenegro, Euro 	(EUR)	</option><option value="XCD">Montserrat, Dolar 	(XCD)	</option><option value="NAD">Namibia, Dolar 	(NAD)	</option><option value="AUD">Nauru, Dolar 	(AUD)	</option><option value="NPR">Nepal, Rupia 	(NPR)	</option><option value="NIO">Nicaragua, Cordoba 	(NIO)	</option><option value="NGN">Nigeria, Naira 	(NGN)	</option><option value="NOK">Noruega, Coroa 	(NOK)	</option><option value="NZD">Nova Zelandia, Dolar 	(NZD)	</option><option value="OMR">Oma, Rial 	(OMR)	</option><option value="EUR">Paises Baixos, Euro 	(EUR)	</option><option value="USD">Palau, Dolar 	(USD)	</option><option value="ILS">Palestina, Shekel 	(ILS)	</option><option value="USD">Panama, Dolar 	(USD)	</option><option value="PAB">Panamá, Balboa 	(PAB)	</option><option value="PGK">Papua Nova Guine, Kina 	(PGK)	</option><option value="PKR">Paquistao, Rupia 	(PKR)	</option><option value="PYG">Paraguai, Guarani 	(PYG)	</option><option value="PEN">Peru, Novo Sol 	(PEN)	</option><option value="XPF">Polinesia Francesa, Franco 	(XPF)	</option><option value="PZN">Polonia, Zloty 	(PZN)	</option><option value="PLN">Polonia, Republica Da, Zloty 	(PLN)	</option><option value="USD">Porto Rico, Dolar 	(USD)	</option><option value="EUR">Portugal, Euro 	(EUR)	</option><option value="QAR">Qatar, Rial 	(QAR)	</option><option value="KES">Quenia, Xelim 	(KES)	</option><option value="KGS">Quirguistão, Som 	(KGS)	</option><option value="GBP">Reino Unido, Libra 	(GBP)	</option><option value="XAF">Rep. Centro Africana, Franco 	(XAF)	</option><option value="CDF">República Democrática do Congo, Franco Congolês 	(CDF)	</option><option value="DOP">Republica Dominicana, Peso 	(DOP)	</option><option value="SKK">Republica Eslovaca, Coroa 	(SKK)	</option><option value="CZK">Republica Tcheca, Coroa 	(CZK)	</option><option value="ROL">Romenia, Leu 	(ROL)	</option><option value="RON">Romênia, Leu Romeno 	(RON)	</option><option value="RWF">Ruanda, Franco 	(RWF)	</option><option value="RUB">Russia, Rublo 	(RUB)	</option><option value="EUR">Saint Pierre, Euro 	(EUR)	</option><option value="USD">Samoa, Dolar 	(USD)	</option><option value="WST">Samoa, Tala 	(WST)	</option><option value="SHP">Santa Helena, Libra 	(SHP)	</option><option value="XCD">Santa Lucia, Dolar 	(XCD)	</option><option value="XCD">Sao Cristovao E Nevis, Dolar 	(XCD)	</option><option value="EUR">Sao Marinho, Euro 	(EUR)	</option><option value="STD">Sao Tome E Principe, Dobra 	(STD)	</option><option value="XCD">Sao Vicente E Granadinas, Dolar 	(XCD)	</option><option value="RSD">Sérbia, Dinar Sérvio 	(RSD)	</option><option value="SLL">Serra Leoa, Leone 	(SLL)	</option><option value="SCR">Seychelles, Rupia 	(SCR)	</option><option value="SYP">Siria, Libra 	(SYP)	</option><option value="SOS">Somalia, Xelim 	(SOS)	</option><option value="LKR">Sri Lanka, Rupia 	(LKR)	</option><option value="SZL">Suazilandia, Lilangeni 	(SZL)	</option><option value="SDD">Sudao, Dinar 	(SDD)	</option><option value="SDG">Sudão, Libra Sudanesa 	(SDG)	</option><option value="SEK">Suecia, Coroa 	(SEK)	</option><option value="CHF">Suica, Franco 	(CHF)	</option><option value="SRG">Suriname, Florim 	(SRG)	</option><option value="SRD">Suriname, Dólar Surinamês 	(SRD)	</option><option value="TJR">Tadjiquistao, Rublo 	(TJR)	</option><option value="THB">Tailandia, Bath 	(THB)	</option><option value="TJS">Tajiquistão, Somoni 	(TJS)	</option><option value="TZS">Tanzania, Xelim 	(TZS)	</option><option value="TPE">Timor Leste, Escudo 	(TPE)	</option><option value="USD">Timor-leste, Dolar 	(USD)	</option><option value="TOP">Tonga, Paanga 	(TOP)	</option><option value="TTD">Trinidad E Tobago, Dolar 	(TTD)	</option><option value="TND">Tunisia, Dinar 	(TND)	</option><option value="TRY">Turquia, Nova Lira 	(TRY)	</option><option value="UAH">Ucrania, Hyvnia 	(UAH)	</option><option value="UGX">Uganda, Xelim 	(UGX)	</option><option value="UYU">Uruguai, Peso 	(UYU)	</option><option value="UZS">Uzbequistao, Som 	(UZS)	</option><option value="VUV">Vanuatu, Vatu 	(VUV)	</option><option value="EUR">Vaticano, Euro 	(EUR)	</option><option value="VEB">Venezuela, Bolivar 	(VEB)	</option><option value="VEF">Venezuela, Bolívar 	(VEF)	</option><option value="VND">Vietna, Dongue 	(VND)	</option><option value="ZMK">Zambia, Quacha 	(ZMK)	</option><option value="ZMW">Zâmbia, Kwacha Zambiano 	(ZMW)	</option><option value="ZWD">Zimbabue, Dolar 	(ZWD)	</option></select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" data-select2-id="select2-data-3-jbsf" style="width: 326px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-moeda_destino-container"><span class="select2-selection__rendered" id="select2-moeda_destino-container" role="textbox" aria-readonly="true"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>

                            <div>

                                <input type="radio" id="Varejo" name="Profile" value="Varejo">
                                <label asp-for="Profile">Varejo</label><br>

                                <input type="radio" id="Personnalite" name="Profile" value="@ExchangeCurrency.Api.Models.Enums.EnumProfile.Personnalite">
                                <label asp-for="Profile">Personnalite</label><br>

                                <input type="radio" id="Private" name="Profile" value="@ExchangeCurrency.Api.Models.Enums.EnumProfile.Private">
                                <label asp-for="Profile">Private</label><br><br>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit" id="converter" asp-action="Index" asp-controller="ConvertCurrency">
                                    Converter
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>


    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Beatriz Ribeiro</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>