@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Compra de Moedas - Itaú Unibanco</h2>
    <div class="text-center">
        <h3>Selecione o seu perfil: </h3>
        <ul>
            <li><a asp-action="Converter">Converter</a></li>
        </ul>
    </div>
</div>
