@{
    ViewData["Title"] = "Private";
}
<div class="text-center">
    <h2 class="display-4">Bem-Vindo ao sistema de câmbio!</h2>
    <div class="text-center">
        <h3>Selecione o seu perfil: </h3>
    </div>
</div>
